/*.table-view{
    -fx-background-color: white;
}

.table-view .column-header{
    -fx-background-color: #5758BB;
    -fx-font-weight: bold;
    -fx-border-radius: 10;
}

.table-view .column-header:hover{
    -fx-background-color: #3d3e9a;
}

.table-view .column-header .label{
    -fx-text-fill: white;
}

.table-view .table-row-cell:filled:selected{
    -fx-background-color: #9697ec;
}*/

/* modern_styles.css */

/* Set background color of the TableView */
.table-view {
    -fx-background-color: #f5f5f5; /* Light Gray */
    -fx-border-style: none;

}

/* Set alternating row colors for better readability */
.table-row-cell:odd {
    -fx-background-color: #ffffff; /* White */
    -fx-border-style: none;
}

.table-row-cell:even {
    -fx-background-color:  #ffffff; /* Light Gray */
    -fx-border-style: none;
}

/* Set the column header text color */
.table-view .column-header {
    -fx-background-color:#5758BB;
    -fx-border-style: none;
}

.table-view .column-header .label{
    -fx-text-fill: white;
}

.table-view .column-header:hover{
    -fx-background-color: #3d3e9a;
}

/* Set default cell padding and text color */
.table-cell {
    /*-fx-padding: 18;*/
    -fx-text-fill: #333333; /* Dark Gray */
    -fx-font-size: 12px;
    -fx-border-width: 0 0 0 0;
}

.table-view .table-row-cell:filled:selected{
    -fx-background-color: #9697ec;
}

/* Set the selection color */
.table-row-cell:selected {
    -fx-background-color: #ecf0f1; /* Light Blue-Gray */
    -fx-text-fill: white; /* White text on selection */
    -fx-border-style: none;

}

/* Set the hover color */
.table-row-cell:hover {
    -fx-background-color: #ecf0f1; /* Light Blue-Gray */
}

/* Remove the focus border */
.table-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.table-header {
    -fx-border-style: none;
}
.table-view.table-column {
    -fx-border-style: none;
}
.table-view .table-row-cell {
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
}

/* Remove horizontal grid lines */
.table-view .table-row-cell {
    -fx-border-width: 0 0 0 0;
}
/* Set transparent background for TableView cells and headers */
.table-row-cell, .column-header, .table-header {
    -fx-background-color: transparent;
}
/* Hide vertical grid lines */
.table-view .column-header-background,
.table-view .column-header,
.table-view .table-row-cell {
    -fx-border-color: transparent;
}

/* Hide horizontal grid lines */
.table-view .table-row-cell {
    -fx-border-width: 0 0 0 0;
}
/* Hide horizontal and vertical scroll bars in TableView */
.table-view .scroll-bar:vertical,
.table-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-background-insets: 0;
}

/* Optional: Disable hover effect for scroll bars */
.table-view .scroll-bar:vertical:hover,
.table-view .scroll-bar:horizontal:hover {
    -fx-background-color: transparent;
    -fx-opacity: 0;
}
